<p id="notice"><%= notice %></p>

<p>
  <strong>Wishlist:</strong>
  <%= @collection.wishlist %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
