
    <table>
        <tbody>
        <%@games.each do |game|%>
    
        <td><%= image_tag game.picture if game.picture.attached? %> </td>
        <td>     <%= game.title %> </td>

<%end%>
        </tbody>
    </table>
