<%@games.each do |game|%>
    
    <table>
        <tbody>
        <td><%= image_tag game.picture if game.picture.attached? %> </td>
        <td>     <%= game.title %> </td>
        </tbody>
    </table>

<%end%>