<nav> 
    <% if user_signed_in? %>
    <span class="nav-greeting"> <%="Welcome back, #{current_user.username}"%></span>

    <% p "HELLO PAY ATTENTION"%>
    <% p current_user[:id], current_user[:username] %>
    <%= link_to "Sign Out", :destroy_user_session, method: "delete" %>
    <% else %>
        <%= link_to "Sign In", :new_user_session%>        
        <%= link_to "Sign Up", :new_user_registration%>
        <% end %>
 </nav>